.available {
  background-color: #e3f3b9;
  color: #115a52;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 0.875rem;
  font-weight: 500;
}

.unavailable {
  background-color: #fde6e5;
  color: #952927;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 0.875rem;
  font-weight: 500;
}
